/* New Map */
#layer-list .input-group{
    cursor: move;
}

.layer-item, .form-control.layer-item[disabled], label.form-control.layer-item {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: move;
    vertical-align: middle;
}

label.form-control.layer-item.basemap-item{
    max-width: 200px;
    min-width: 200px;
    cursor: default;
}

.leaflet-left .leaflet-control {  /* all controls */
    position: relative;
    left: 0px !important;
}
